version: "3.1"

services:
  db:
    image: postgres
    restart: always
    env_file:
      - ./dev.env

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080

  server:
    env_file:
      - ./dev.env
    build: ./server/
